<html>
  <head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Hello World! with ejs.</h1>
    <form method="POST" action="/person">
      <input />
    </form>
  </body>
</html>
